@font-face {
    font-family: 'fira sans';
    src: url('fonts/FiraSans-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
*{
    font-family: 'fira sans';
}

.container{
    margin-top: 10em;
    display: grid;
    grid-template-columns:1fr 1fr 1fr;
    grid-gap: 100px;
}
form{
    grid-column-start:1;
    grid-row-start: 1;
}
form label{
    font-weight: 700;
}
#characterView{
    grid-column-start: 2;
}
#characterView #images{
    display:grid; 
    grid-template-columns:1fr;
    grid-template-rows:2.5em 1fr;
    margin-right: 0%;
}
#characterView #images img{
    max-width: 100%;
    height: auto;
    grid-row-start:2;
    grid-column-start:1;
    display: flex;
    align-items: center;
    margin: 0 auto;
}
#charImgName{
    grid-row-start:1;
    grid-column-start:1;
    display: flex;
    justify-content: center;
}
.form-group{
    margin-top: .5em;
}
.form-group:first-child{
    margin-top: 0px;
}
#characterInformation{
    grid-column-start: 3;
    display: grid;
    grid-template-columns:1fr;
    grid-template-rows:auto auto auto auto auto;
    margin-top: -4em;
}
#characterInformation p{
    margin-bottom: 0;
}
.infoBox{
    display:grid; 
    grid-template-columns:1fr;
    grid-template-rows:1.5em auto;
    margin-bottom: 1em;
}
.infoBox-title{
    grid-row-start: 1;
    min-width: 0;
    text-align: center;
    font-weight: 700;
}
.infoBox-paragraph p{
    grid-row-start: 2;
    min-width: 0;
    font-weight: 500;
}